------------------------------------
1. Frontend (React/Vite)
------------------------------------
/frontend/node_modules
/frontend/dist
Viteのビルド出力フォルダ
/frontend/.vscode
/frontend/.npm
/frontend/package-lock.json
------------------------------------
2. Backend (WordPress)
------------------------------------
コアファイルはGit管理しない (セキュリティとデプロイのため)
/wpcms/wp-admin/
/wpcms/wp-includes/
/wpcms/wp-content/cache/
/wpcms/wp-content/upgrade/
/wpcms/wp-content/plugins/
/wpcms/wp-content/themes/
/wpcms/wp-content/languages/
/wpcms/wp-content/blogs.php
/wpcms/wp-content/index.php
ユーザーデータ、メディアファイル
/wpcms/wp-content/uploads/
ユーザーのローカルファイル（Gitに含めない）
wp-config.phpにはDB情報が含まれるため、絶対にGitに含めない
/wpcms/wp-config.php
/wpcms/.env
/wpcms/.ftp_user
