# --- CORS設定 (Reactからのアクセス許可) ---
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "http://localhost:5173"
  Header set Access-Control-Allow-Methods "POST, GET, OPTIONS, PUT, DELETE"
  Header set Access-Control-Allow-Credentials "true"
  Header set Access-Control-Allow-Headers "Authorization, Content-Type, X-Requested-With"
</IfModule>
# ---------------------------------------

#SITEGUARD_PLUGIN_SETTINGS_START
#==== SITEGUARD_RENAME_LOGIN_SETTINGS_START
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /allhat/drill/wpcms/
    RewriteRule ^wp-signup\.php 404-siteguard [L]
    RewriteRule ^wp-activate\.php 404-siteguard [L]
    RewriteRule ^hitobou(.*)$ wp-login.php$1 [L]
</IfModule>
#==== SITEGUARD_RENAME_LOGIN_SETTINGS_END
#SITEGUARD_PLUGIN_SETTINGS_END

# BEGIN WordPress
# "BEGIN WordPress" から "END WordPress" までのディレクティブ (行) は
# 動的に生成され、WordPress フィルターによってのみ修正が可能です。
# これらのマーカー間にあるディレクティブへのいかなる変更も上書きされてしまいます。
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /allhat/drill/wpcms/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /allhat/drill/wpcms/index.php [L]
</IfModule>

# END WordPress
